@model Common.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>@Html.DisplayFor(model => model.Name)</legend>


    <table class="productDetails">
        <tr class="productDetails">
            <td  class="productDetails">
                <img alt="" src="@Html.DisplayFor(model => model.ImagePath)" style="width:500px; height:500px;"/>
            </td>
            <td  class="productDetails">
                <h3>Description</h3>
                @Html.DisplayFor(model => model.Description)

                <br/><br/>

                <h3>Price: @Html.DisplayFor(model => model.Price)</h3>

                @if (Html.DisplayFor(model => model.Stock).ToString() != "0")
                {
                    <h3>In Stock</h3>
                }
                else
                {
                    <h3>Out of Stock</h3>
                }


               
                            
                
          
            </td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
