@model IEnumerable<Common.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            ImagePath
        </th>
        <th>
            Stock
        </th>
        <th>
            Price
        </th>
        <th>
            Seller
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
         <td>
           <img alt="" src="@Html.DisplayFor(modelItem => item.ImagePath)"  style="width:100px; height:100px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellerEmail)
        </td>

        @{
            Common.Genre g = new BusinessLogic.GenreBL().GetGenreByID(Convert.ToInt32(item.GenreID));
        }
        <td>
            @Html.DisplayFor(modelItem => g.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
