<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")"
rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")"
type="text/javascript"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div id="header">
        <h1>
            ASP.NET MVC MUSIC STORE</h1>
        <ul id="navlist">

            <li class="first"> @Html.ActionLink("Home", "Index", "Home")</li>
            <li class="first"> @Html.ActionLink("Store", "Index", "Store")</li>
            <li class="first"> @Html.ActionLink("Manage Products", "Index", "StoreManager")</li>
            <li class="first"> @Html.ActionLink("Role Allocation", "AllocateRoles", "Admin")</li>

        

            @if (User.Identity.Name != "")
            {

                List<Common.Role> userRoles = new BusinessLogic.RoleBL().GetUserRoles(User.Identity.Name).ToList();
                List<Common.Menu> userMenu =  new List<Common.Menu>();

                foreach (Common.Role r in userRoles)
                {
                   
                    userMenu = new BusinessLogic.MenuBL().GetMenus(r.RoleID).ToList();
                    ViewBag.Menus = userMenu;
                }
                
                foreach (Common.Menu m in userMenu.Distinct())
                {
                    //<li class="first"> @Html.ActionLink(m.MenuName, m.IndexName, m.FolderName)</li>
                }
            }
            
            


            @if (User.Identity.Name == "")
            {
                <li class="first"> @Html.ActionLink("Log On", "LogOn", "Account")</li>
            }
            else
            {
                <li class="first"> @Html.ActionLink("Log Off", "LogOff", "Account")</li>
            }
        </ul>
    </div>
    @RenderBody()
</body>
</html>
